<% if @sport.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @sport.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@sport) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
