<h1><%= @player.first_name + " " + @player.last_name %> </h1>


<p>Number: <%= @player.number %></p>

<p>Position: <%= @player.position%></p>




<p> <%= link_to "Edit", edit_sport_team_player_path %></p>


<p><%= link_to "Back", sport_team_players_path %></p>
