<nav class="navbar navbar-default navbar-lg" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02" toggle="">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/"><span>Pickaplayer</span></a>
  </div>

  <div class="collapse navbar-collapse" id="#navbar-collapse-02">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><p class="navbar-text"><span class="label label-primary">Signed in as <%= current_user.email %></span></p></li>
      <li class="dropdown">
        <div class="btn-group">
          <button class="btn btn-primary btn-sm navbar-btn btn-embossed dropdown-toggle" data-toggle="dropdown">
            <span class="fui-user" style="visibility: hidden;"></span><span class="caret">
          </button>
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            <li><a href="#">My Points</a></li>
            <li><a href="#">Shop/Redeem</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sports", sports_path%></li>
            <li><%= link_to "Home", root_path%></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </li>
      <% else %>
      <li>
         <%= button_to " Sign up " , new_user_registration_path, :class => 'btn btn-sm btn-block btn-success navbar-btn btn-embossed', method: :get %>
       </li>
       <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>
            <%= button_to "Login", new_user_session_path, :class => 'btn btn-sm btn-block btn-primary navbar-btn btn-embossed', method: :get %>
         </li>
      <% end %>
      <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
